@import url("header.css");

div{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.form{
    margin-top: 40px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    color : #FFFFFF;
    background-color: #000000;
    background-size: cover;
    background-image: url('../image/cine.png');
    font-size:18px;
}


button{
    border-block-start-width: 0,01cm;
    border-radius: 10%;
    border-color: black;
    background-color:darkgreen;
  width:100px;
  overflow:visible;					
  text-align:center;	
  white-space:nowrap;	
  height:40px;
  line-height:38px;
  color:#FFFFFF;
}


