@import url("header.css");


#formulaire{
	display:flex;
	justify-content: center;
}

form{
	width: 50%;
}

button{
	margin-top: 10vh;
}

#affiche{
    text-align: center;
    margin: auto;
    display: flex;

}

#modifierFilm{
	width: 100%;
	display: flex;
	flex-direction: column;
}

#modifierFilm > *{
	margin-top: 3.5px;
}

div{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    color : #FFFFFF;
    background-color: #000000;
    background-size: cover;
    background-color: black;
    background-image: url("../image/cine.png");
    font-size:18px;
}

.modifier{
    border-block-start-width: 0,01cm;
    border-radius: 10%;
    border-color: black;
    background-color:darkgreen;
  width:100px;
  overflow:visible;					
  text-align:center;	
  white-space:nowrap;	
  height:40px;
  line-height:38px;
  color:#FFFFFF;
}
.supprimer{
    border-block-start-width: 0,01cm;
    border-radius: 10%;
    border-color: black;
    background-color:rgb(100, 0, 0);
  width:100px;
  overflow:visible;					
  text-align:center;	
  white-space:nowrap;	
  height:40px;
  line-height:38px;
  color:#FFFFFF;
}
