li {
    display: inline;
}
a {
    padding: 20px;
    background-color: #FFFFFF;
    text-decoration: none;
    color:#000000;
    font-size: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header{
    text-align: left ;
}
img{
    padding: 2em;
}