@import url("header.css");

div{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    color : #FFFFFF;
    background-color: #000000;
    background-size: cover;
    background-image: url('../image/cine.png');
    font-size:18px;
}
