@import url("header.css");

div{
    margin-left: auto;
    margin-right: auto;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    color : #FFFFFF;
    background-color: #000000;
    background-size: cover;
    background-color: black;
    font-size:18px;
    text-align: center;
}


.gererFilm{
    border-block-start-width: 0,01cm;
    border-radius: 10%;
    border-color: black;
    background-color:rgb(18, 0, 100);
  width:100px;
  overflow:visible;					
  text-align:center;	
  white-space:nowrap;	
  height:40px;
  line-height:38px;
  color:#FFFFFF;
}

.valider{
    border-block-start-width: 0,01cm;
    border-radius: 10%;
    border-color: black;
    background-color:darkgreen;
  width:100px;
  overflow:visible;					
  text-align:center;	
  white-space:nowrap;	
  height:40px;
  line-height:38px;
  color:#FFFFFF;
  margin: 2em;
}
.navbarre, .navliste{
    font-size: 1em;

}