body {
    margin: 0;
}

.Page-Title {
    margin: 0;
    width: 100%;
    background-color: #FFCB77;
    color: black;
    display: absolute;
    margin: 0 auto;
}

.Titre {
    font-size: 5rem;
    text-align: center;
    padding: 10rem 0 2rem 0;
}

.createurs {
    text-align: center;
    font-size: 1rem;
    padding-bottom: 10rem;
}

.content {
    width: 100%;
    color: black;
    height: 65vh;
}

.content h1 {
    font-size: 2rem;
    text-align: center;
    padding-top: 5rem;
    margin-bottom: 2rem;
}

.content p {
    width: 70%;
    margin: 0 auto;
    text-align: justify;
    font-size: 1.2rem;
}

.more a {
    color: #FEF9EF;
    background-color: #17C3B2;
    padding: 1.5rem;
    font-size: 2rem;
    border-radius: .2rem;
}

.more {
    margin: 0 auto;
    width: 20rem;
    padding: 3rem;
}

.more:hover {
    background-color: #179689;
}

hr {
    color: black;
}