@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    font-family: 'Open Sans';
}

body {
    position: relative;
    min-height: 110vh;
}

header {
    background-color: #0B4F6C;
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

header nav li {
    padding: 1rem;
}

header nav a {
    text-decoration: none;
    color: #FBFBFF;
}

footer {
    background-color: #0B4F6C;
    width: 100%;
    color: #FBFBFF;
    clear: both;
    position: relative;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.content-body {
    margin: 0 auto;
    width: 75vw;
    overflow: auto;
}

.info {
    font-size: 1.2rem;
    padding: .5rem 0 7rem 0;
}

.Title  {
    text-decoration: underline;
    font-size: 2.5rem;
    padding: 7rem 0 .5rem 0;
}
.PTitle p {
    text-align: center;
    color: black;
}

.PTitle {
    background-color: #FFCB77;
    margin-bottom: 3rem;
}

.PTitle:before {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(100px);
}

.TTitle {
    margin: 0.8rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}


.Text-right {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
}


.Text-left {
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center
}

.Text-right img {
    width: 17vw;
    height: auto;
    border-radius: .5rem;
    margin: 1rem 2rem 1rem 2rem;
    box-shadow: 0px 0px 10x -2px rgba(0,0,0,0.75);
    overflow: visible;
}

.Text-left img {
    width: 17vw;
    height: auto;
    border-radius: .5rem;
    margin: 1rem 2rem 1rem 2rem;
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    overflow: visible;
}

.Text {
    font-size: 1rem;
    text-align: justify;
}

section {
    margin: 4rem 0 4rem 0;
    overflow: hidden;
}

.button {
    background-color: #17C3B2;
    transition-duration: 0.2s;
    width: 7rem;
    margin: 2rem 0 0 0;
    font-size: 1rem;
    padding: 0.5rem;
    text-align: center; 
}

.button a {
    color: white;
}

.button:hover {
        background-color: #179689;
}


