@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    font-family: 'Open Sans';
}

body {
    position: relative;
    min-height: 110vh;
}

header {
    background-color: #0B4F6C;
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

header nav li {
    padding: 1rem;
}

header nav a {
    text-decoration: none;
    color: white;
}

footer {
    background-color: #0B4F6C;
    width: 100%;
    color: #FBFBFF;
    clear: both;
    position: relative;
    height: 4rem;
}

footer p {
    font-size: 0.8rem;
    margin: 1rem;
}

.content-body {
    margin: 0 auto;
    width: 85%;
}

.PTitle {
    margin: 5rem;
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
}

.TTitle {
    margin: 0.8rem;
    font-size: 1.2rem;
    font-weight: 600;
}


.Text-right {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
}


.Text-left {
    display: grid;
    grid-template-columns: 70% 30%;
}

.Text-right img {
    width: 100%;
    margin-right: 2rem;
}

.Text-left img {
    width: 100%;
    margin-left: 2rem;
}

.Text {
    font-size: 1rem;
}

section {
    margin-bottom: 6rem;
    overflow: hidden;
}